/* 全局样式表 */
html,
body,
#app {
  height: 100%;
  padding: 0;
  margin: 0;
  /* 设置最小宽度，低于宽度时出现滚动条（不能再缩放），强制为1366px */
  min-width:1366px ;
}

  .el-breadcrumb {
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 12px;
  }

  .el-card {
    box-shadow: 0 1px 1px rgba(0,0, 0, 0.15)!important;
  }
  
  .el-pagination {
    margin-top: 20px;
  }

  .el-row {
    display: flex;
    align-items: center;
  }

 .dialog-footer {
    display: flex;
   justify-content: center;
 }

